<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PlanIt</title>
    <link
      rel="stylesheet"
      href="node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/rightSidebar.css" />
    <link rel="stylesheet" href="/css/leftSidebar.css" />
  </head>

  <body>
    <!--navbar-->
    <%-include('partials/navbar.ejs')%>

    <!--left sidebar-->
    <%-include('partials/leftSidebar.ejs')%>

    <!--right sidebar-->
    <%-include('partials/rightSidebar.ejs')%>

    <!--main content-->
    <div id="main-content" class="content">
      <div class="container mt-4">
        <div id="today-tasks" class="mt-3"></div>

        <div id="task-list" class="mt-3"></div>

        <div id="add-task-form" class="task-item">
          <form
            onsubmit="addTask(event)"
            class="d-flex align-items-center w-100"
          >
            <div class="form-group flex-grow-1 me-2 mb-0">
              <input
                type="text"
                id="new-task-name"
                class="form-control"
                placeholder="Wpisz nazwę dla nowego zadania"
                autocomplete="off"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary">Dodaj</button>
          </form>
        </div>
      </div>
    </div>

    <!--modal potwierdzenia usunięcia zadania-->
    <%-include('modals/deleteTaskModal.ejs')%>

    <!--modal potwierdzenia dodania nowej grupy zadań-->
    <%-include('modals/addTaskGroupModal.ejs')%>

    <script src="/js/logout.js"></script>
    <script src="/js/tasks.js"></script>
    <script src="/js/taskGroup.js"></script>
    <script src="/js/rightSidebar.js"></script>
    <script src="/js/taskGroupRightSidebar.js"></script>

    <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
